{% extends 'base.html.twig' %}

{% block title %}JobCategory index{% endblock %}

{% block body %}
    <h1 style="padding-top:10rem; text-align:center; background-color:#2F3138; margin-top:0; color:white ;padding-bottom:2%">JobCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job_category in job_categories %}
            <tr>
                <td>{{ job_category.id }}</td>
                <td>{{ job_category.category }}</td>
                <td>
                    <a style="width:2vw; height:3vh; font-size:1rem; padding:initial" class="btn grey darken-1 waves-effect waves-light btn-register" href="{{ path('job_category_show', {'id': job_category.id}) }}">show</a>
                    <a style="width:2vw; height:3vh; font-size:1rem; padding:initial" class="btn gradient secondary waves-effect waves-light btn-register" href="{{ path('job_category_edit', {'id': job_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a target="_self" href="{{ path('job_category_new') }}" class="btn bn-lg grey darken-1 btn-block waves-effect waves-light btn-register">
        <span>Create new</span>
    </a>
    <a style="margin:0" target="_self" href="{{ path ('admin')}}" class="btn bn-lg gradient secondary btn-block waves-effect waves-light btn-register">
        <span> return to Admin Page</span>
    </a>
{% endblock %}
